*,
:after,
:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
body * {
  text-shadow: none !important;
}

.dragon-totem {
  position: relative;
  display: inline-block;
  // 菜单
  &__menu {
    z-index: 999;
    position: absolute;
    display: none;
    width: 100px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease;
    li {
      list-style: none;
      width: 100%;
      background-color: #eee;
      a {
        display: inline-block;
        text-decoration: none;
        color: #555;
        width: 100%;
        padding: 5px 0;
        text-align: center;
        &:hover,
        &:active {
          background: #eee;
          color: #0aaf88;
        }
      }
      &:first-of-type {
        border-radius: 5px 5px 0 0;
      }
    }
  }
  // 每个自定义元素
  & > .item {
    z-index: 99;
    color: #676767;
    line-height: 1;
    background: none;
    position: absolute;
    list-style: none !important;
    margin: 0 !important;
    padding: 0;
    transition: padding 0.5s;
    min-height: 1px;
    min-width: 1px;
    width: 100%;
    -webkit-user-select: none;
    &-comp-hover:hover {
      outline: 2px dashed #62c0ff;
    }
    &-comp-border {
      outline: 2px solid #62c0ff;
    }
    // 元素盒子
    .element-box {
      width: 100%;
      height: 100%;
      writing-mode: horizontal-tb;
      text-align: left;
      background-color: rgba(255, 255, 255, 0);
      font-weight: bold;
      z-index: 8;
      color: rgb(103, 103, 103);
      transform: none;
      border-width: 0px;
      border-style: solid;
      border-color: rgb(0, 0, 0);
      border-radius: 0px;
      padding-bottom: 0px;
      padding-top: 0px;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px;
      text-decoration: none;
      letter-spacing: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      .element {
        z-index: 9;
        padding: 5px;
        width: 100%;
        height: 100%;
        writing-mode: horizontal-tb;
        cursor: default;
        min-height: inherit;
        letter-spacing: 0em;
        span {
          display: block;
          margin-top: 0px;
          margin-bottom: 0px;
          color: inherit;
          overflow-wrap: break-word;
          user-select: auto;
          outline: none;
        }
      }
    }
  }
}
